*.pyc
__pycache__
.cache
myvenv
*.sqlite3
/static
.DS_Store
*.mo
/media
.sass-cache
venv
/node_modules
/lib/python*
/lib64
/include/python*
/bin
/pyvenv.cfg
/webpack-stats.json
/digitalstrategie/settings/local.py
/digitalstrategie/static
package-lock.json
