{% load snippet_tags i18n %}
{% load_site_menu "header" as header_menu_items %}

<nav class="navbar navbar-expand-lg header__nav">
    <div class="container">
        <div class="header__nav--centered">
            <a class="navbar-brand mt-3" href="/">digitalstrategie</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="{% trans 'Toggle navigation' %}">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav  header__nav-links">
                    {% for menuitem in header_menu_items %}
                    {% if menuitem.subpages %}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" {{ forloop.counter }} data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" aria-current="page">
                            {{ menuitem.title }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown" {{ forloop.counter }}>
                            {% for subpage in menuitem.subpages %}
                            <li><a class="dropdown-item" href="{{ subpage.value.link.url }}">{{ subpage.value.link_text }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item {% if request.path == menuitem.url %} active{% endif %}">
                        <a class="nav-link" href="{{ menuitem.url }}" {% if request.path == menuitem.url %}aria-current="page" {% endif %}> {{ menuitem.title }} </a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="header--left">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link"><i class="fa fa-search" aria-label="{% trans 'Search' %}"></i></a>
            </li>
            <li class="nav-item">
                {% include 'includes/header_language_switch.html' %}
            </li>
        </ul>
    </div>
</nav>
