{% load snippet_tags i18n static %}
{% if 'de-ls' in request.path %}
    {% load_site_menu "header_ls" as header_menu_items %}
{% else %}
    {% load_site_menu "header" as header_menu_items %}
{% endif %}


<header id="header">

    <!-- Portallogo Berlin Brand -->
    <div class="header__row-portalbrand">
        <div class="logo">
            <a href="https://www.berlin.de/">
                <img class="logo" title="{% trans 'To the home page of Berlin.de' %}" src="{% static 'images/logo_berlin.svg' %}" alt="Berlin.de">
            </a>
        </div>
    </div>

    <div class="header__row-pageheader">
        <!-- Vertical Logo -->
        <div class="pageheader__logo">
            <p class="textlogo">
                <a href="/" title="{% trans 'To the home page' %}">
                  <img class="logo" title="{% trans 'To the home page' %}" src="{% static 'images/logo.svg' %}" alt="{% trans 'Gemeinsam Digital: Berlin' %}">
                </a>
            </p>
        </div>

        <!-- Quicklinks -->
        <nav class="pageheader__quicklinks" aria-label="{% trans 'Area navigation' %}">
            <ul>
              {% for menuitem in header_menu_items %}
                <li class="{% if request.path == menuitem.url %} active{% endif %}">
                    <a href="{{ menuitem.url }}" {% if request.path == menuitem.url %}aria-current="page" {% endif %}>{{ menuitem.title }}</a>
                </li>
              {% endfor %}
            </ul>
        </nav>

        <!-- ### Service button area with different overlays ## -->

        <div class="pageheader__services">
            <!-- Accessability button and overlay -->

            <div id="servicebuttonAccessibility" class="service-button-overlay js-service-button-overlay accessibility">
                <div class="service-button-overlay__button">
                    <button type="button" class="icon-button js-button-overlay-open" aria-haspopup="true">
                        <i class="icon fas fa-universal-access" aria-hidden="true"></i>
                        <span class="aural">{% trans 'Open: Accessibility' %}</span>
                        <span class="text">{% trans 'Accessible' %}</span>
                    </button>
                </div>
                <div class="service-button-overlay__overlay overlay js-overlay-container" aria-modal="true" hidden="hidden">
                    <div class="overlay__header">
                        <h2 class="heading"><span>{% trans 'Accessibility' %}</span></h2>
                        <button type="button" class="close-button js-button-overlay-close">
                            <i class="fas fa-times" aria-hidden="true"></i>
                            <span class="aural">{% trans 'Close: Accessibility' %}</span>
                        </button>
                    </div>
                    <div class="overlay__body">
                        <h3>{% trans 'Settings' %}</h3>
                        <ul class="wcag-linklist">
                            <li>
                                <a href="#">
                                    <img aria-hidden="true" src="https://www.berlin.de/i9f/v4/css/images/misc/leichtesprache.svg" alt="Symbol leichte Sprache">
                                    Leichte Sprache <span class="aural">für diese Seite anzeigen</span>
                                </a>
                            </li>
                        </ul>

                        {% if settings.apps_settings.Accessibility.accessibility_declaration and settings.apps_settings.Accessibility.accessibility_declaration_title %}
                        <h3>{% trans 'How accessible is this website?' %}</h3>
                        <p>
                            <a href="{{ settings.apps_settings.Accessibility.accessibility_declaration.url }}">{{ settings.apps_settings.Accessibility.accessibility_declaration_title }}</a>
                        </p>
                        {% endif %}

                        {% if settings.apps_settings.Accessibility.feedback_name or settings.apps_settings.Accessibility.feedback_email or settings.apps_settings.Accessibility.feedback_phone %}
                        <h3>{% trans 'Whom to contact with comments or questions about digital accessibility (feedback option)?' %}</h3>
                        <p>
                            {% if settings.apps_settings.Accessibility.feedback_name %}
                            {% trans 'Name' %}: {{ settings.apps_settings.Accessibility.feedback_name }}<br>
                            {% endif %}
                            {% if settings.apps_settings.Accessibility.feedback_email %}
                            {% trans 'Email' %}: <a href="mailto:{{ settings.apps_settings.Accessibility.feedback_email }}">{{ settings.apps_settings.Accessibility.feedback_email }}</a><br>
                            {% endif %}
                            {% if settings.apps_settings.Accessibility.feedback_phone %}
                            {% trans 'Phone' %}: {{ settings.apps_settings.Accessibility.feedback_phone }}
                            {% endif %}
                        </p>
                        {% endif %}

                        {% if settings.apps_settings.Accessibility.additional_external_info and settings.apps_settings.Accessibility.additional_external_info_title%}
                        <h3>{% trans 'Where can I find additional information on accessibility in the state of Berlin?' %}</h3>
                        <p>
                            <a href="{{ settings.apps_settings.Accessibility.additional_external_info }}" class="extern" target="_blank">{{ settings.apps_settings.Accessibility.additional_external_info_title }}</a>
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- Search button and overlay -->

            <div id="servicebuttonSearch" class="service-button-overlay js-service-button-overlay search fullwidth">
                <div class="service-button-overlay__button">
                    <button type="button" class="icon-button js-button-overlay-open" aria-haspopup="true">
                        <i class="icon fa fa-search" aria-hidden="true"></i>
                        <span class="aural">{% trans 'Open: Search' %}</span>
                        <span class="text">{% trans 'Search' %}</span>
                    </button>
                </div>
                <div class="service-button-overlay__overlay overlay js-overlay-container" aria-modal="true" hidden="hidden">
                    <div class="overlay__header">
                        <h2 class="heading"><span class="aural">{% trans 'Search' %}</span></h2>
                        <button type="button" class="close-button js-button-overlay-close">
                            <i class="fas fa-times" aria-hidden="true"></i>
                            <span class="aural">{% trans 'Close: Search' %}</span>
                        </button>
                    </div>
                    <div class="overlay__body">
                        <div class="search-container">
                            <form class="search-form" action="{% url 'search' %}" method="get">
                                <label for="searchFormInput_q">{% trans 'Search on the website "Gemeinsam Digital: Berlin"' %}</label>
                                <div class="form-group">
                                    <input name="q" class="form-control" id="searchFormInput_q" placeholder="Suchbegriff">
                                    <button type="submit" class="button"><i class="fas fa-search" aria-hidden="true"></i> <span>{% trans 'Search' %}</span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Hamburger navigation button and overlay -->

            <div id="servicebuttonMenu" class="service-button-overlay js-service-button-overlay menu">
                <div class="service-button-overlay__button">
                    <button type="button" class="icon-button js-button-overlay-open" aria-haspopup="true">
                        <i class="icon fa fa-bars" aria-hidden="true"></i>
                        <span class="aural">{% trans 'Open: Menu' %}</span>
                        <span class="text">{% trans 'Menu' %}</span>
                    </button>
                </div>
                <div class="service-button-overlay__overlay overlay js-overlay-container" aria-modal="true" hidden="hidden">
                    <div class="overlay__header">
                        <h2 class="heading"><span>{% trans 'Menu' %}</span></h2>
                        <button type="button" class="close-button js-button-overlay-close">
                            <i class="fas fa-times" aria-hidden="true"></i>
                            <span class="aural">{% trans 'Close: Menu' %}</span>
                        </button>
                    </div>
                    <div class="overlay__body">
                        <nav id="navigation-primary" class="js-navigation-primary">
                            <div class="tree-wrapper js-navigation-tree-wrapper">
                                <h3 class="aural">{% trans 'Page navigation' %}</h3>
                                <ul class="navigation-tree tree__root">
                                  {% for menuitem in header_menu_items %}
                                    {% if menuitem.subpages %}
                                      <li>
                                          <a href="{{ menuitem.url }}">{{ menuitem.title }}</a>
                                          <ul class="navigation-tree tree__subtree">
                                              {% for subpage in menuitem.subpages %}
                                              <li class="{% if request.path == subpage.value.url %}active{% endif %}">
                                                <a href="{{ subpage.value.url }}">{{ subpage.value.link_text }}</a>
                                              </li>
                                              {% endfor %}
                                            </ul>
                                      </li>
                                    {% else %}
                                    <li class="{% if request.path == menuitem.url %} active{% endif %}">
                                        <a href="{{ menuitem.url }}" {% if request.path == menuitem.url %}aria-current="page" {% endif %}>{{ menuitem.title }}</a>
                                    </li>
                                    {% endif %}
                                  {% endfor %}
                                </ul>
                            </div>
                            <div class="navigation-meta">
                                {% include 'includes/header_language_switch.html' %}
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>
