{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

{% if request.LANGUAGE_CODE != 'de-ls' %}
    {% image page.header_image original as header_image %}
{% else %}
    {% image page.ls_header_image original as header_image %}
{% endif %}
<section id="layout-grid__area--herounit" class="fullwidth">
    {% if header_image %}
    <div class="herounit-landingpage herounit-landingpage--default">
        <div class="image">
            <div class="image__image hero__parallax" style="background-image: url('{{ header_image.url }}')">
                <img class="hero__image-back" src="{{ header_image.url }}" {% if header_image.alt %}alt="{{ header_image.alt }}"{% endif %} loading="lazy">
            </div>
            {% if page.header_image.copyright %}
            <div class="image__copyright ds-hero-image__copyright">
                <p>{{ page.header_image.copyright }}</p>
            </div>
            {% endif %}

            <div class="image__overlay ds-hero-image__overlay">
                <h1 class="title">{{ page.page_title }}</h1>
                <p>{{ page.page_subtitle }}</p>
            </div>
        </div>
    </div>
    {% else %}
    <div class="ds-hero-no-image">
        <h1 class="title">{{ page.page_title }}</h1>
        <p>{{ page.page_subtitle }}</p>
    </div>
    {% endif %}
</section>
<div id="layout-grid__area--maincontent">
    {% for block in self.body %}
      {% include_block block with block_id=block.id %}
    {% endfor %}
</div>

{% endblock %}
