{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

{% image page.header_image original as header_image %}
<section id="layout-grid__area--herounit" class="fullwidth">
  <div class="herounit-landingpage herounit-landingpage--default">
      <div class="image">
          <div class="image__image mb-0" style="">
              <img src="{{ header_image.url }}" alt="{{ header_image.alt }}" loading="lazy">
          </div>
          {% if page.header_image.copyright %}
          <div class="image__copyright ds-hero-image__copyright">
              <p>{{ page.header_image.copyright }}</p>
          </div>
          {% endif %}

          <div class="image__overlay ds-hero-image__overlay">
              {% if page.page_title %}
              <h1 class="title">{{ page.page_title }}</h1>
              {% endif %}
              {% if page.page_subtitle %}
              <p>{{ page.page_subtitle }}</p>
              {% endif %}
          </div>
      </div>
  </div>
</section>
<div id="layout-grid__area--maincontent">
    {% for block in self.body %}
    {{ block }}
    {% endfor %}
</div>
{% endblock %}
