{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
<div class="{% if self.background_color %}ds-block__{{ self.background_color }}{% else %}ds-block__body-bg{% endif %}">
    <div class="container">
        <div class="row ds-block">
            <div class="col-md-8 offset-md-2">
                {% if page.page_title %}
                <h1>{{ page.page_title }}</h1>
                {% endif %}
                {{ self.page_intro|richtext }}
            </div>
        </div>
    </div>
</div>
{% for teaser in self.teasers %}
    {{ teaser }}
{% endfor %}
{% endblock %}
