{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags i18n %}

{% block content %}

<section id="layout-grid__area--herounit">
    <h1 class="u-center">{{ page.page_title }}</h1>
    <p class="u-center">{{ page.page_intro }}</p>
    {% for block in self.swiper %}
        {{ block }}
    {% endfor %}
</section>
<div id="layout-grid__area--maincontent">

    <section class="modul-multiteaser">
        <div class="row">
            <div class="span4"></div>
            <div class="span8">
                <ul class="list--clean">
                    {% for content in measures_pages %}
                        {% include "apps_measures/includes/measures_list_item.html" with content=content %}
                    {% endfor %}
                </ul>

                {% include "apps_measures/includes/pagination.html" %}

            </div>
        </div>
    </section>

    {% for block in self.teaser %}
        {{ block }}
    {% endfor %}
</div>
{% endblock %}
