{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags i18n %}

{% block content %}
<div id="layout-grid__area--maincontent">
    <h1>{{ page.page_title }}</h1>
    <dl class="meta-information__list">
        <div class="meta-information__item">
            <dt class="meta-information__item__head">
                {% translate 'Responsible organisation' %}
            </dt>
            <dd class="meta-information__item__content">
                {{ page.responsible_organisation }}
            </dd>
        </div>
        <div class="meta-information__item">
            <dt class="meta-information__item__head">
                {% translate 'District' %}
            </dt>
            <dd class="meta-information__item__content">
                {% with districts=page.get_districts_display %}
                    {{ districts }}
                {% endwith %}
            </dd>
        </div>
        <div class="meta-information__item">
            <dt class="meta-information__item__head">
                {% translate 'Involved organisations' %}
            </dt>
            <dd class="meta-information__item__content">
                {{ page.involved_organisations }}
            </dd>
        </div>
        <div class="meta-information__item">
            <dt class="meta-information__item__head">
                {% translate 'Period' %}
            </dt>
            <dd class="meta-information__item__content">
                {{ page.period }}
            </dd>
        </div>
        <div class="meta-information__item">
            <dt class="meta-information__item__head">
                {% translate 'Fields of action' %}
            </dt>
            <dd class="meta-information__item__content">
                {% for foa in page.get_fields_of_action %}
                    <a href="{{page.get_parent.url}}?{{foa.subset_id}}={{foa.id}}">
                        {{ foa.subset_name }}{% if not forloop.last %}, {% endif %}
                    </a>
                {% endfor %}
            </dd>
        </div>
        <div class="meta-information__item">
            <dt class="meta-information__item__head">
                {% translate 'Status' %}
            </dt>
            <dd class="meta-information__item__content">
                {{ page.get_status_display }}
            </dd>
        </div>
    </dl>
    <section class="modul-text_bild imagealignleft fifty">
        {% image page.text_image original as text_image %}
        <div class="image">
            <div class="image__image">
                <img
                    src="{{ text_image.url }}"
                    alt="{{ text_image.alt }}"
                />
            </div>
            {% if page.text_image.copyright %}
                <p class="image__copyright">{{ page.text_image.copyright }}</p>
            {% endif %}
        </div>
        <div class="text textile">
            {{ page.body|richtext }}
        </div>
    </section>

    {% if page.body_participation %}
    <section class="modul-text_bild">
        <h2 class="title">{% translate 'Participation' %}</h2>
        <div class="text textile">
            {{ page.body_participation|richtext }}
        </div>
    </section>
    {% endif %}
    {% if page.body_effect %}
    <section class="modul-text_bild">
        <h2 class="title">{% translate 'Impact' %}</h2>
        <div class="text textile">
            {{ page.body_effect|richtext }}
        </div>
    </section>
    {% endif %}
    <section>
        <h2 class="title">{% translate 'Contact' %}</h2>
        <ul class="list--contact" aria-label="{% translate 'contact information' %}">
            <li class="name">
                <strong class="u-d-block">{% translate 'Organisation' %}</strong>
                {{ page.contact_organisation_name }}
            </li>
            <li class="name">
                <strong class="u-d-block">{% translate 'Contact person' %}</strong>
                {{ page.contact_name }}
            </li>
            {% if page.contact_email %}
                <li class="email"><a href="mailto:{{page.contact_email}}">{{ page.contact_email }}</a></li>
            {% endif %}
            {% if page.contact_phone %}
                <li class="tel"><a href="tel:{{page.contact_phone}}">{{ page.contact_phone }}</a></li>
            {% endif %}
            {% if page.contact_website %}
                <li class="homepage"><a href="{{page.contact_website}}" target="_blank">{{ page.contact_website }}</a></li>
            {% endif %}
        </ul>
    </section>
</div>
{% endblock %}
