*,
*:before,
*:after {
    box-sizing: inherit;
}

// fixes horizontal scroll issue cause by header+footer width
html {
    overflow-y: scroll;
    color: $black;
    box-sizing: border-box;
    font-family: $font-family-sans-serif !important;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    // overflow-x: hidden;  // stops horizontal scroll
}

body {
    margin: 0;
}

header,
footer,
.content-footer {
    font-family: $font-family-arial;
}

// sendinblue overwrites
.u-d-none {
    display: none !important;
}

h1,
h2,
h3,
h4,
h5 {
    overflow: visible; // overwrite of berlin auto
}
