@font-face {
    font-family: "BerlinType";
    font-display: swap;
    src: url("../fonts/BerlinTypeWeb-Regular.eot"); /* IE9 Compat Modes */
    src: url("../fonts/BerlinTypeWeb-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("../fonts/BerlinTypeWeb-Regular.woff2") format("woff2"), /* Super Modern Browsers */
        url("../fonts/BerlinTypeWeb-Regular.woff") format("woff"), /* Pretty Modern Browsers */
        url("../fonts/BerlinTypeOffice-Regular.ttf")  format("truetype"), /* Safari, Android, iOS */
}

@font-face {
    font-family: "BerlinType";
    font-weight: bold;
    font-display: swap;
    src: url("../fonts/BerlinTypeWeb-Bold.eot"); /* IE9 Compat Modes */
    src: url("../fonts/BerlinTypeWeb-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("../fonts/BerlinTypeWeb-Bold.woff2") format("woff2"), /* Super Modern Browsers */
        url("../fonts/BerlinTypeWeb-Bold.woff") format("woff"), /* Pretty Modern Browsers */
        url("../fonts/BerlinTypeOffice-Bold.ttf")  format("truetype"); /* Safari, Android, iOS */
}
