// Variables

$blue:    #0047d3 !default; // from ds styleguide
$purple:  #aca4d1 !default; // from ds design
$pink:    #f5b4cb !default; // from ds design
$red:     #9b0000 !default; // from ds styleguide
$yellow:  #f8ed45 !default; // from ds design
$green:   #0e4c38 !default; // from ds design
$yellow:  #f9f4e4 !default; // from ds styleguide
$white:   #ffffff !default; // from ds design
$gray:    #dddddd !default; // from ds design
$text-gray:    #454545 !default; // from ds styleguide
$light-gray: #f5f5f5 !default; // from ds styleguide
$black:    #000000 !default; // from ds design

$spacer: 1rem !default;

$font-family-sans-serif:      "BerlinType", "Arial", sans-serif !default;
$font-family-arial:           "Arial", sans-serif !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-xs:                $font-size-base * .875 !default;
$font-size-sm:                $font-size-base * 1.0625 !default; //h3 size
$font-size-md:                $font-size-base * 1.375 !default; // h2 size
$font-size-lg:                $font-size-base * 1.6875 !default; // h1 size

$line-height-base:              $font-size-base * 1.5 !default; // Assumes the browser default, typically `16px`
$line-height-sm:                $font-size-sm * 1.353 !default; // h3 size
$line-height-md:                $font-size-md * 1.182 !default; // h2 size
$line-height-lg:                $font-size-lg * 1.148 !default; // h1 size
