.ds-block__yellow {
    background-color: $yellow;

    .accordion-button,
    .accordion-body {
        background-color: $yellow;
    }
}

.ds-block__pink {
    background-color: $pink;

    .accordion-button,
    .accordion-body {
        background-color: $pink;
    }
}

.ds-block__purple {
    background-color: $purple;

    .accordion-button,
    .accordion-body {
        background-color: $purple;
    }
}

.ds-block__body-bg {
    .accordion-button {
        background-color: $body-bg;
    }
}

.ds-block {
    padding-top: 5*$spacer;
    padding-bottom: 5*$spacer;
}

.ds-block__row {
    padding: 0 1*$spacer;

    @media screen and (min-width: $breakpoint-md) {
        padding: 0;
    }
}

// FIXME: when we have more ds-blocks, they should get their own components
// and only common stuff stays in here?!
// -> for now leave here to identify common stuff

.faq-ds-block__title {
    font-weight: $font-weight-bold;
    padding-top: $spacer;
    padding-bottom: $spacer;
    margin-bottom: 0;

    border-bottom: solid 1px $text-gray;
}

.faq-ds-block__item {
    // important to overwrite bootstraps accordion-item:last-child
    border-bottom: solid 1px $text-gray;
}

.faq-ds-block__button {
    padding-left: 0;
    padding-right: 0;

    font-size: $h4-font-size;
    font-weight: $font-weight-bold;

    &:focus {
        color: $text-gray;
        box-shadow: none;
    }
}

.faq-ds-block__body {
    padding-left: 0;
    padding-right: 0;

    p:first-child {
        margin-top: 0;
    }

    p:last-child {
        margin-bottom: 0;
    }
}

.cta-ds-block__title {
    font-size: $h2-font-size;
}

.quote-ds-block__text {
    font-size: $h2-font-size;
    font-weight: $font-weight-bold;
}

.quote-ds-block__link {
    text-decoration: none;
}
