// Books (Grünbuch and Weißbuch) specific overwrites
.books__wrapper {
    background-color: $green;
}

.books__content {
    color: $white;

    & h1 {
        color: $white;
        font-size: $h2-font-size;
        margin-top: 0;
    }

    & h2 {
        color: $white;
        font-size: $font-size-md;
        font-weight: normal;
    }
}

// Books specific nav link colors
.chapter-link {
    font-size: $font-size-md;
    font-weight: bold;
    color: $white;

    & a {
        color: $white;
    }

    & i {
        color: $white;
    }

    &--active {
        text-decoration: underline;
    }
}
