.btn--outline,
a.btn--outline {
    color: $white;
    text-decoration: none;
    border: 1px solid $white;
    padding: 0.5rem 0.75rem;
}

.btn--pill,
a.btn--pill {
    border-radius: $border-radius-pill;
}

// resets default styling
.btn--reset {
    font-family: $font-family-sans-serif;
    background: transparent;
    box-shadow: 0 0 0 transparent;
    border: 0 solid transparent;
    text-shadow: 0 0 0 transparent;
    margin: 0;
    padding: 0;
}
