.btn--primary {
    @extend .btn-primary;
}

.btn--secondary {
    @extend .btn-secondary;
}

.btn--danger {
    @extend .btn-danger;
}

.btn--light {
    @extend .btn-light;
    border: 1px solid $border-color;
}

.btn--link {
    @extend .btn-link;
}

.btn--small {
    @extend .btn-sm;
}

.btn--huge {
    @extend .btn-lg;
}

.btn--outline,
a.btn--outline {
    color: $white;
    text-decoration: none;
    border: 1px solid $white;
    padding: 0.5rem 0.75rem;
}

.btn--pill,
a.btn--pill {
    border-radius: $border-radius-pill;
}

// .btn--full {
//     @extend .btn-full;
// }
