// resets default styling
.btn--reset {
    font-family: $font-family-sans-serif;
    background: transparent;
    box-shadow: 0 0 0 transparent;
    border: 0 solid transparent;
    text-shadow: 0 0 0 transparent;
    margin: 0;
    padding: 0;
}

// ensure clear search button does not overlap
.searchterm .button--clear-input {
    margin-right: 35px;
}
