// using a media-query from berlin_marketing.css
@media print, (min-width: 64.001rem) {
    .ds-block__maincontent--small {
        max-width: 60%;
        margin: auto !important;
    }

    // overwrite of herounit text box
    .ds-hero-image__overlay {
        margin-top: -18 * $spacer !important;
        margin-bottom: 5 * $spacer !important;
        text-align: center;
    }

    .ds-hero-image__copyright {
        margin-top: -0.75 * $spacer !important;
        padding: 0 (0.5 * $spacer) 0 0;
    }
}

.ds-hero-image__copyright {
    min-width: max-content !important;
    max-width: fit-content !important;
    background-color: $white;
    z-index: 1;
    top: -15px;

    p {
        margin-bottom: 0;
        padding: 0 (0.5 * $spacer);
    }
}

// overwrite white slider backround
.ds-block__swiper-pagination {
    background: inherit !important;
}

// overwrite left margin for slider controls normally displayed with image
.ds-block__swiper-controls {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.ds-hero-image__overlay {
    text-align: center;
    padding-left: $spacer;
    padding-right: $spacer;
    padding-bottom: $spacer;
}

// teaser tile overwrites
.ds-teasertile {
    padding: $spacer;

    .ds-action {
        top: 0;
        bottom: auto !important;
        background: $black !important;

        // ds overwrites
        a.more:after {
            color: $white !important;
            margin-left: 0.25em !important;
            margin-right: 0.25em !important;
        }
    }

    .ds-teasertile__info {
        display: flex;
        align-items: flex-end;
        min-height: 140px;

        .ds-teasertile__info-img {
            flex: none;
            max-height: 50px;
            max-width: 50px;
        }

        .ds-teasertile__info-title {
            padding-left: 0.75 * $spacer;
        }
    }
}
