// overwrites for styleguide
.ds-block {
    padding-top: 3 * $spacer !important;
    padding-bottom: 3 * $spacer !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border: none !important;

    .background-image + .content-container *:not(.button) {
        color: $black;
    }

    &--green {
        opacity: 1 !important;
        color: $body-bg !important;
        background-color: $green;

        // teaser centered styling
        .background-image + .content-container *:not(.button),
        // richtext and cta centered styling
        .button,
        h2,
        h3,
        h3:after,
        h4 {
            background-color: $green;
            color: $body-bg !important;
            border-color: $body-bg;
            border-width: 1px;
        }
    }

    &--yellow {
        background-color: $yellow;
    }

    &--pink {
        background-color: $pink;
    }

    &--purple {
        background-color: $purple;
    }

    &--body-bg {
        background-color: $body-bg;
    }

    &--yellow,
    &--pink,
    &--purple,
    &--body-bg {
        opacity: 1 !important; // overwrite

        .js-accordion {
            border-color: $black !important;
        }

        .ds-block__button-clear {
            color: $black !important;
            border-color: $black !important;
        }
    }

    @media print, (min-width: 64.001rem) {
        padding-top: 5 * $spacer !important;
        padding-bottom: 5 * $spacer !important;
    }
}

.quote-ds-block__text {
    font-weight: $font-weight-bold;
}
