// using a media-query from berlin_marketing.css
@media print, (min-width: 64.001rem) {
    .ds-block__maincontent--small {
        max-width: 60%;
        margin: auto !important;
    }

    // overwrite of herounit text box
    .ds-hero-image__overlay {
        margin-top: -18 * $spacer !important;
        margin-bottom: 5 * $spacer !important;
        text-align: center;
    }

    .ds-hero-image__copyright {
        min-width: max-content;
        margin-top: -1.5rem;
        background-color: $white;

        p {
            margin-bottom: 0;
            padding: 0 0.5 * $spacer;
        }
    }
}

// overwrite white slider backround
.ds-block__swiper-pagination {
    background: inherit !important;
}

// overwrite left margin for slider controls normally displayed with image
.ds-block__swiper-controls {
    margin-left: 0 !important;
    padding-left: 0 !important;
}
