// overwrites for styleguide
.ds-block {
    padding-top: 3 * $spacer !important;
}

.ds-block--fullwidth {
    @media print, (max-width: 64.001rem) {
        // to ensure coloured blocks with no images go to page edge on mobile
        margin-left: -12px !important;
        margin-right: -12px !important;
        padding-left: 12px;
        padding-right: 12px;
        min-width: 100vw !important;
    }
}

.ds-block,
.ds-block--img {
    padding-bottom: 3 * $spacer !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border: none !important;

    .background-image + .content-container *:not(.button) {
        color: $black;
    }

    &--green {
        opacity: 1 !important;
        color: $white !important;
        background-color: $green !important;

        // teaser centered styling
        .background-image + .content-container *:not(.button) {
            color: $white !important;
            border-color: $white;
            border-width: 1px;
        }

        // richtext and cta centered styling
        .button,
        h2,
        h3,
        h3:after,
        h4 {
            background-color: $green !important;
            color: $white !important;
            border-color: $white;
            border-width: 1px;
        }
    }

    &--yellow {
        background-color: $yellow !important;
    }

    &--pink {
        background-color: $pink !important;
    }

    &--purple {
        background-color: $purple !important;
    }

    &--body-bg {
        background-color: $white !important;
    }

    &--yellow,
    &--pink,
    &--purple,
    &--body-bg {
        opacity: 1 !important; // overwrite

        .js-accordion {
            border-color: $black !important;
        }

        .button.ds-block__button-clear,
        .button.ds-block__button-clear:after {
            color: $black !important;
            border-color: $black !important;
        }
    }

    @media print, (min-width: 64.001rem) {
        padding-top: 4 * $spacer !important;
        padding-bottom: 4 * $spacer !important;
    }

    @media print {
        background-color: none !important;
    }

    .modul-teaser-marketing.imageteaser .image {
        z-index: 5;
    }
}

.hero__parallax {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -$spacer;

    @media print, (min-width: 64.001rem) {

        /* Set a specific height same as hero */
        min-height: 70vh;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: bottom;
    }
}

.hero__image-back {
    z-index: -1;
}

.ds-block__paragraph {
    h2:nth-child(1),
    h3:nth-child(1),
    h4:nth-child(1) {
        margin-top: 0 !important;
    }
}
