// overwrites for styleguide
.ds-block {
    padding-top: 3 * $spacer !important;
    padding-bottom: 3 * $spacer !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border: none !important;

    .content-container * {
        color: $black !important;
    }

    &--yellow,
    &--pink,
    &--purple,
    &--green,
    &--body-bg {
        opacity: 1 !important; // overwrite
    }

    @media print, (min-width: 64.001rem) {
        padding-top: 5 * $spacer !important;
        padding-bottom: 5 * $spacer !important;
    }
}

.ds-block--yellow {
    background-color: $yellow;

    .accordion-button,
    .accordion-body {
        background-color: $yellow;
    }
}

.ds-block--pink {
    background-color: $pink;

    .accordion-button,
    .accordion-body {
        background-color: $pink;
    }
}

.ds-block--purple {
    background-color: $purple;

    .accordion-button,
    .accordion-body {
        background-color: $purple;
    }
}

.ds-block--green {
    background-color: $green;
    color: $body-bg;

    .accordion-button,
    .accordion-body {
        background-color: $green;
        color: $body-bg;
    }
}

.ds-block--body-bg {
    .accordion-button {
        background-color: $body-bg;
    }
}

.ds-block__row {
    padding: 0 1 * $spacer;

    @media screen and (min-width: $breakpoint-md) {
        padding: 0;
    }
}

.hero-ds-block__img {
    position: relative;
    padding: 10 * $spacer 0;
}

.hero-ds-block__img-overlay {
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0);
}

.cta-ds-block__title {
    font-size: $h2-font-size;
}

.quote-ds-block__text {
    font-size: $h2-font-size;
    font-weight: $font-weight-bold;
}

.ds-block__link {
    text-decoration: none;
    color: $black;
}
