.faq-ds-block__title {
    font-weight: $font-weight-bold;
    padding-top: $spacer;
    padding-bottom: $spacer;
    margin-bottom: 0;

    &--dark {
        border-bottom: solid 1px $text-gray;
    }

    &--light {
        border-bottom: solid 1px $body-bg;
    }
}

.faq-ds-block__item--dark {
    // important to overwrite bootstraps accordion-item:last-child
    border-bottom: solid 1px $text-gray;

    // fixes thick borders on safari
    background-color: transparent;
}

.faq-ds-block__item--light {
    // important to overwrite bootstraps accordion-item:last-child
    border-bottom: solid 1px $body-bg;

    // fixes thick borders on safari
    background-color: transparent;
}

.faq-ds-block__button {
    padding-left: 0;
    padding-right: 0;
    border-radius: 0 !important; // overwrite of default bs
    font-size: $h4-font-size;
    font-weight: $font-weight-bold;

    &:focus {
        box-shadow: none;
    }

    &--dark:focus {
        color: $text-gray;
    }

    &--light:focus {
        color: $body-bg;
    }
}

.accordion-button.faq-ds-block__button--light:after {
    background-image: $accordion-button-icon--light;
}

.accordion-button:not(.collapsed) {
    // removes line on safari
    box-shadow: none;
}

.faq-ds-block__body {
    padding-left: 0;
    padding-right: 0;

    p:first-child {
        margin-top: 0;
    }

    p:last-child {
        margin-bottom: 0;
    }
}
