.footer-menu__btn {
    margin-bottom: 0;

    & button {
        padding: 1em 12px; // to mimic link on mobile
        font-family: $font-family-arial;

        @extend .btn--reset;

        @media print, (min-width: 64.001rem) {
            padding: inherit;
        }
    }

    &:hover {
        & button {
            text-decoration: underline;
        }
    }
}
