.form--overwrite {
    & form label {
        font-weight: normal;
        font-size: $font-size-md;
    }

    & form input[type="text"],
    form input[type="date"],
    form input[type="password"],
    form input[type="file"],
    form input[type="email"],
    form button.ui-multiselect,
    form select,
    form textarea {
        border: solid 1px $text-gray;

        &:focus {
            border-color: $blue;
        }
    }

    & form ul {
        padding: 0;

        & > li > label {
            font-size: $font-size-sm;
        }

        & > li:before {
            content: none;
        }
    }

    & form .form-check {
        padding: 0;

        & > label {
            font-size: $font-size-base;
        }
    }

    & form hr {
        border-top: 1px solid $light-gray;
        margin: 0 0 1rem 0;
    }

    & form .info-section__form {
        & > span {
            margin: 1rem 0;
        }

        & > p {
            margin: 1rem 0;
        }

        & > p > span {
            font-weight: bold;
            text-decoration: underline;
        }
    }

    & form .alert-danger {
        color: $red;
        background-color: $red20;
    }
}
