// django forms uses lists for errors and we must overwrite the bullet points
form {
    ul > li:before {
        content: none;
    }
}

.ds-form-overwrite__form-check {
    padding-left: 0 !important;

    input[type="checkbox"] {
        font-size: 1rem;
        width: 1em !important;
        height: 1em !important;
        box-sizing: border-box !important;
        padding: 0 !important;
        min-height: auto !important;
        margin: 0 0.5em 0 0 !important;
    }

    &.is-invalid {
        color: $red;
    }
}
