// django forms uses lists for errors and we must overwrite the bullet points
.ds-form__overwrite {
    form {
        ul > li:before {
            content: none;
        }
    }

    &--form-check {
        padding-left: 0 !important;

        input[type="checkbox"] {
            font-size: $font-size-base;
            width: 1em !important;
            height: 1em !important;
            box-sizing: border-box !important;
            padding: 0 !important;
            min-height: auto !important;
            margin: 0 0.5em 0 0 !important;
        }

        &.is-invalid {
            color: $red;
        }
    }
}

.ds-form__info-section {
    margin-top: $spacer;
}
