.header-menu__btn {
    padding: 1em 24px; // from ds-styleguide
    cursor: pointer;

    & button {
        @extend .btn--reset;

        color: $blue;
    }

    &:hover {
        & button {
            text-decoration: underline;
        }
    }

    form {
        margin-bottom: 0;
    }
}
