.meta-information__row {
    display: flex;
    column-gap: $spacer;
    margin: $spacer * 2 0;
}

.meta-information__column {
    flex: 1;
}

.meta-information__column__head {
    font-weight: bold;
}
