.meta-information__list {
    display: flex;
    flex-flow: row wrap;
    column-gap: $spacer;
}

.meta-information__item {
    flex-basis: 49%; // space for gap
    margin-bottom: ($spacer * 1.25);
}

.meta-information__column__head {
    font-weight: bold;
}

@media screen and (max-width: 37.4375rem) {
    .meta-information__list {
        flex-direction: column;
    }

    .meta-information__item {
        flex: 1;
    }
}
