.richtext-image {
    height: auto;
    width: 100%;
}

.richtext-image.left {
    float: left;
    margin-right: $spacer;
}

.richtext-image.right {
    float: right;
    margin-left: $spacer;
}

@media print, (min-width: 64.001rem) {
    .richtext-image.right,
    .richtext-image.left {
        max-width: 40%;
    }
}

// needed for bullet point cut off on safari
.textile ul > li {
    margin-left: 2px;
}
