// new styles that are fine with berlin.de styling
.thesis-ds-block {
    background-color: inherit;
}

.thesis-ds-block__title {
    padding-bottom: 2 * $spacer;
    text-align: center;
}

.thesis-ds-block__thesis {
    padding-left: $spacer;

    // overwrite body style, copied from old version of berlin styles
    font-size: $font-size-md;
    color: $black;
    line-height: $line-height-md;
    font-weight: 700;
}
