// new styles that are fine with berlin.de styling
.thesis-ds-block__title {
    padding-bottom: 2 * $spacer;
}

.thesis-ds-block__thesis {
    padding-left: $spacer;

    // copied from berlin_marketing.css
    font-size: $font-size-md;
    color: #000;
    line-height: $line-height-md;
    font-weight: 700;
}
