<!DOCTYPE html>
{% load i18n wagtailuserbar static wagtailmetadata_tags %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicon-96x96.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">

        {% block meta_tag %}
            {% meta_tags %}
        {% endblock %}

        <!-- Berlin theme css start -->
            <link rel="stylesheet" type="text/css" href="//www.berlin.de/i9f/r1/bundle/berlin_marketing.css">
            <link rel="stylesheet" type="text/css" href="//www.berlin.de/i9f/r1/bundle/swiper.min.css">
            <link rel="stylesheet" type="text/css" href="//www.berlin.de/i9f/r1/bundle/shariff.min.css">
            <link rel="stylesheet" type="text/css" href="//www.berlin.de/i9f/r1/bundle/fontawesome.all.min.css">
        <!-- Berlin theme css end -->

        <link rel="stylesheet" type="text/css" href="{% static 'digitalstrategie.css' %}" />

        <script src="{% static 'digitalstrategie.js' %}"></script>

        <!-- Berlin theme js start -->
            <script src="//www.berlin.de/i9f/r1/bundle/jquery.min.js"></script>
            <script src="//www.berlin.de/i9f/r1/bundle/berlin_marketing.js"></script>
            <script src="//www.berlin.de/i9f/r1/bundle/swiper.min.js"></script>
            <script src="//www.berlin.de/i9f/r1/bundle/shariff.min.js"></script>
            <script src="//www.berlin.de/i9f/v4/js/bo-foot-rebrush.js"></script>
        <!-- Berlin theme js end -->

    </head>
    <body>
        <div id="page-wrapper">
          {% wagtailuserbar %}
          {% include 'includes/header.html' %}
          <main id="layout-grid" role="main">
              {% include 'includes/breadcrumb.html' %}
              {% if messages %}
                {% for message in messages %}
                    <div class="alert alert--{{ message.level_tag }}" role="alert">
                        <div class="text-center alert-text">
                        {{ message }}
                        </div>
                    </div>
                {% endfor %}
              {% endif %}
              {% block extra_messages %}{% endblock %}

              {% block content %}

              {% endblock %}
              {% block extra_js %}
              {# Override this in templates to add extra javascript #}
              {% endblock %}
              {% block extra_css %}
              {# Override this in templates to add extra javascript #}
              {% endblock %}
            </main>
            {% include 'includes/footer.html' %}
        </div>
    </body>
</html>
