<!DOCTYPE html>
{% load i18n wagtailuserbar static custom_metadata_tags %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Berlin.de favicon -->
        <meta name="og:image" content="/static/images/Berlin_de_FB_Social.png" />
        <meta name="og:image:secure_url" content="/static/images/Berlin_de_FB_Social.png" />
        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="msapplication-config" content="/static/images/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        <link rel="icon" href="/static/images/favicon.ico" sizes="any">
        <link rel="icon" href="/static/images/Berlin_de.svg" type="image/svg+xml">
        <link rel="mask-icon" href="/static/images/safari-pinned-tab.svg" color="#000000">
        <link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">
        <link rel="manifest" href="/static/images/manifest.json">

        {% block meta_tag %}
            {% custom_meta_tags %}
        {% endblock %}

        <link rel="stylesheet" type="text/css" href="{% static 'digitalstrategie_berlin.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'digitalstrategie.css' %}" />

        <!-- Berlin.de js imports needed due to dynamic loading of additional libraries within code -->
        <script src="//www.berlin.de/i9f/r1/bundle/jquery.min.js"></script>
        <script src="//www.berlin.de/i9f/r1/bundle/berlin_marketing.js"></script>
        <script src="//www.berlin.de/i9f/r1/bundle/swiper.min.js"></script>
        <script src="//www.berlin.de/i9f/r1/bundle/shariff.min.js"></script>
        <script src="//www.berlin.de/i9f/v4/js/bo-foot-rebrush.js"></script>

        <script src="{% url 'javascript-catalog' %}"></script>

    </head>
    <body>
        <div id="page-wrapper">
          {% wagtailuserbar %}
          {% include 'includes/header.html' %}
          <main id="layout-grid" role="main">
              {% include 'includes/breadcrumb.html' %}
              {% if messages %}
                {% for message in messages %}
                    <div class="message message--{{ message.level_tag }}" role="alert">
                        <p>
                        {{ message }}
                        </p>
                    </div>
                {% endfor %}
              {% endif %}
              {% block extra_messages %}{% endblock %}

              {% block content %}
              {% endblock %}

              {% block extra_js %}
              {# Override this in templates to add extra javascript #}
              {% endblock %}
              {% block extra_css %}
              {# Override this in templates to add extra javascript #}
              {% endblock %}
            </main>
            {% include 'includes/upper_footer.html' %}
        </div>
    </body>
</html>
