<!DOCTYPE html>
{% load i18n wagtailuserbar static %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8" />
        <title>{% block title %}{% trans 'Digital strategy' %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicon-96x96.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">

        <link rel="stylesheet" type="text/css" href="{% static 'digitalstrategie_external.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'digitalstrategie.css' %}" />

        <script src="{% static 'digitalstrategie.js' %}"></script>
        <script src="{% static 'digitalstrategie_external.js' %}"></script>

    </head>
    <body>

        {% wagtailuserbar %}
        {% include 'includes/header.html' %}
        {% include 'includes/breadcrumb.html' %}
        <div class="base__wrapper">
            {% if messages %}
              {% for message in messages %}
                  <div class="alert alert--{{ message.level_tag }}" role="alert">
                      <div class="text-center alert-text">
                      {{ message }}
                      </div>
                  </div>
              {% endfor %}
            {% endif %}
            {% block extra_messages %}{% endblock %}

            <div class="content">
            {% block content %}
            {% endblock %}
            </div>
            {% block extra_js %}
            {# Override this in templates to add extra javascript #}
            {% endblock %}
            {% block extra_css %}
            {# Override this in templates to add extra javascript #}
            {% endblock %}
        </div>
        {% include 'includes/footer.html' %}
    </body>
</html>
