
{% load snippet_tags %}
{% load_site_menu "header" as header_menu_items %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">digitalstrategie</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            {% for menuitem in header_menu_items %}
            <li class="nav-item {% if request.path == menuitem.url %} active{% endif %}">
                <a class="nav-link" href="{{ menuitem.url }}"> {{ menuitem.title }} </a>
            </li>
            {% endfor %}
            <li class="nav-item header-upper__lang">
                {% include 'includes/header_language_switch.html' %}
            </li>
            </ul>
        </div>

    </div>
</nav>

