{% load wagtailcore_tags i18n %}

<div class="modul-facetingform js-facetingform" id="measuresFilter">
  <div class="facetingform__container">
    <div class="container__head">
      <h2 class="title">{% translate 'Filter by' %}
      </h2>
    </div>
    <div class="container__body">
      <!-- Form start -->
      <form class="facets" action="#measures">

        <!-- project status -->
        <div class="facet">
          <h3 class="facet__head">
            <button data-collapsible-trigger="opened" class="facet-title" type="button" aria-controls="statusFacet">
              <label for="statusSelect" class="form-label facet__head">
                {% translate 'Project status' %}
              </label>
            </button>
          </h3>
          <div class="facet__body" id="statusFacet">
            <div class="form-group" id="group_statusSelect">
              <select class="form-control" id="statusSelect" name="status">
                <option value="">{% translate 'Please choose' %}</option>
                {% for status_key, status_string in page.status.items %}
                  <option value="{{ status_key }}" {% if status_key == request.GET.status %}selected{% endif %}>{{ status_string }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>

        <!-- district -->
        <fieldset class="facet">
          <legend class="facet__head">
            <h3>
              <button data-collapsible-trigger="opened" class="facet-title" type="button"
                aria-controls="districtFacet">
                  {% translate 'District' %}
              </button>
            </h3>
          </legend>
          <div class="facet__body" id="districtFacet">
            {% for district_key, district_string in page.district.items %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="districtCheckbox{{ district_key }}" name="district" value="{{ district_key }}" {% if district_key in selected_districts %}checked{% endif %} />
                <label class="form-check-label" for="districtCheckbox{{ district_key }}">{{ district_string }}</label>
            </div>
            {% endfor %}
          </div>
        </fieldset>


        <!-- fields of action -->
        <section class="facet">
          <h3 class="facet__head">
            <button data-collapsible-trigger="opened" class="facet-title" type="button"
              aria-controls="fieldsActionFacet">
              <span class="text">
                {% translate 'Fields of action' %}
              </span>
            </button>
          </h3>

          <!-- fields of action sub-categories -->
          <div class="facet__body" id="fieldsActionFacet">

            <fieldset class="ds-form__facet-accordion modul-accordion js-accordion" id="accordionFieldsAction01">
              <legend data-collapsible-trigger="opened" class="ds-form__facet-accordion-header facet-title js-accordion__heading">{% translate 'Regenerative Management' %}</legend>
              <div class="js-accordion__panel">
                {% for regenerative_management_key, regenerative_management_string in page.regenerative_management.items %}
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="checkboxRegMan{{ regenerative_management_key }}" name="reg" value="{{ regenerative_management_key }}" {% if regenerative_management_key in selected_reg %}checked{% endif %} />
                    <label class="form-check-label" for="checkboxRegMan{{ regenerative_management_key }}">{{ regenerative_management_string }}</label>
                  </div>
                {% endfor %}
                </div>
            </fieldset>

            <fieldset class="ds-form__facet-accordion modul-accordion js-accordion" id="accordionFieldsAction02">
              <legend data-collapsible-trigger="opened" class="ds-form__facet-accordion-header facet-title js-accordion__heading">{% translate 'Future Opportunities for All' %}</legend>
              <div class="js-accordion__panel">
                {% for future_opportunities_for_all_key, future_opportunities_for_all_string in page.future_opportunities_for_all.items %}
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="checkboxFutOp{{ future_opportunities_for_all_key }}" name="fut" value="{{ future_opportunities_for_all_key }}" {% if future_opportunities_for_all_key in selected_fut %}checked{% endif %} />
                    <label class="form-check-label" for="checkboxFutOp{{ future_opportunities_for_all_key }}">{{ future_opportunities_for_all_string }}</label>
                  </div>
                {% endfor %}
              </div>
            </fieldset>

              <fieldset class="ds-form__facet-accordion modul-accordion js-accordion" id="accordionFieldsAction03">
                <legend data-collapsible-trigger="opened" class="ds-form__facet-accordion-header facet-title js-accordion__heading">{% translate 'Inclusive Shaping of Urban Life' %}</legend>
                <div class="js-accordion__panel">
                  {% for inclusive_shaping_of_urban_life_key, inclusive_shaping_of_urban_life_string in page.inclusive_shaping_of_urban_life.items %}
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="checkboxInclUrb{{ inclusive_shaping_of_urban_life_key }}" name="inc" value="{{ inclusive_shaping_of_urban_life_key }}" {% if inclusive_shaping_of_urban_life_key in selected_inc %}checked{% endif %} />
                      <label class="form-check-label" for="checkboxInclUrb{{ inclusive_shaping_of_urban_life_key }}">{{ inclusive_shaping_of_urban_life_string }}</label>
                    </div>
                  {% endfor %}
                </div>
              </fieldset>

              <fieldset class="ds-form__facet-accordion modul-accordion js-accordion" id="accordionFieldsAction04">
                <legend data-collapsible-trigger="opened" class="ds-form__facet-accordion-header facet-title js-accordion__heading">{% translate 'Facilitative Administration' %}</legend>
                <div class="js-accordion__panel">
                  {% for facilitative_administration_key, facilitative_administration_string in page.facilitative_administration.items %}
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="checkboxFacAdmin{{ facilitative_administration_key }}" name="fac" value="{{ facilitative_administration_key }}" {% if facilitative_administration_key in selected_fac %}checked{% endif %} />
                      <label class="form-check-label" for="checkboxFacAdmin{{ facilitative_administration_key }}">{{ facilitative_administration_string }}</label>
                    </div>
                  {% endfor %}
                </div>
              </fieldset>
              <input type="hidden" name="search" value="{{ request.GET.search }}">
          </div>
        </section>
        <div class="form-actions">
          <div class="form-actions__left">
            <button type="reset" class="link reset">
              <a href="?search={{ request.GET.search }}#measures">{% translate 'Reset filters' %}</a>
            </button>
          </div>
          <div class="form-actions__right">
            <button type="submit" class="button button--light">
              {% translate 'Filter now' %}
            </button>
          </div>
        </div>
      </form>
      <!-- Form end -->
    </div>
  </div>
</div>
