{% load wagtailcore_tags wagtailimages_tags i18n %}

<li>
  <article class="modul-text_bild imagealignleft fifty" data-add-clickable-area="smart">
        {% if content.text_image %}
        <div class="image">
            <div class="image__image">
                {% image content.text_image fill-800x600 as image %}
                <img src="{{ image.url }}" alt="{{ image.alt }}" />
            </div>
            <p class="image__copyright">
                {{ image.copyright }}
            </p>
        </div>
        {% endif %}
        <h3 class="title">{{ content.page_title|truncatechars:102 }}</h3>

        <div class="text textile">
            <p class="text">{{ content.contact_organisation_name }}</p>
            <p class="u-b-none">
                {% for foa in content.get_fields_of_action %}
                    {{ foa.subset_name }}
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>

            <a href="{% pageurl content %}" class="more" data-mainlink="true" title="This is a single Teaser">
                {% translate 'More' %}
                <span class="aural">{% translate 'about:' context 'For SRs, reads "more about: <name of measure>"' %} {{ content.page_title }}</span>
            </a>
        </div>
 </article>
</li>
