{% load wagtailcore_tags wagtailimages_tags i18n %}

<li>
  <article class="modul-text_bild imagealignleft fifty" data-add-clickable-area="smart">
        {% if content.text_image %}
        <div class="image">
            <div class="image__image">
                {% image content.text_image fill-800x600 as image %}
                <img src="{{ image.url }}" alt="{{ image.alt }}" />
            </div>
            <p class="image__copyright">
                {{ image.copyright }}
            </p>
        </div>
        {% endif %}
        <h3 class="title">{{ content.page_title|truncatechars:102 }}</h3>

        <div class="text textile">
            <p class="text">{{ content.contact_organisation_name }}</p>
            <p class="u-b-none">{{ content.get_regenerative_management_display }}</p>
            <p class="u-b-none">{{ content.get_future_opportunities_for_all_display }}</p>
            <p class="u-b-none">{{ content.get_inclusive_shaping_of_urban_life_display }}</p>
            <p class="u-b-none">{{ content.get_facilitative_administration_display }}</p>

            <a href="{% pageurl content %}" class="more" data-mainlink="true" title="This is a single Teaser">
                {% trans 'More' %}
                <span class="aural">{% trans 'to: ' %} {{ content.translated_title }}</span>
            </a>
        </div>
 </article>
</li>
