{% load wagtailcore_tags widget_tweaks i18n wagtailsettings_tags wagtailimages_tags %}
{% get_settings %}
<div class="contact_form container pb-3 pb-md-5">
    <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3 text-center mb-md-5">
        <h2>{{ page.header }}</h2>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <form action="{% pageurl page %}" method="POST">
                <div class="form-group">
                    {% csrf_token %}
                    {% for field in form %}
                        {% include 'apps_forms/includes/form_field.html' with field=field %}
                    {% endfor %}
                </div>
                <div class="mb-3">
                    <button class="btn btn--transparent btn--full" type="submit">{% trans "Send" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
