{% load wagtailcore_tags widget_tweaks i18n wagtailsettings_tags wagtailimages_tags %}
{% get_settings %}

<h1>{{ page.header }}</h1>
<form class="ds-form__overwrite" action="{% pageurl page %}" method="POST" novalidate>
        {% csrf_token %}
        {% for field in form %}
            {% if field is not form.captcha %}
                {% include 'apps_forms/includes/form_field.html' with field=field %}
            {% else %}
                {{ form.media }}
                {% include 'apps_forms/includes/form_field.html' with field=form.captcha tabindex=0 %}
            {% endif %}
        {% endfor %}
    <div class="ds-form__info-section">
        <p>*{% trans 'Required fields' %}</p>
        {% if page.remove_data_email %}
            <p>{% blocktrans with remove_email=page.remove_data_email %}If you wish to have your personal data deleted please write an e-mail to: <a href="mailto:{{ remove_email }}">{{ remove_email }}</a>{% endblocktrans %}</p>
        {% endif %}
    </div>
    <div class="form-actions">
        <div class="form-actions__right">
            <button class="button" type="submit">{% trans "Send" %}</button>
        </div>
    </div>
</form>
