{% load i18n widget_tweaks form_field_tags %}

{% if field|is_checkbox %}
  <div class="form-group form-check">
      {% if field.errors %}
        {% render_field field class="form-check-input is-invalid" %}
      {% else %}
        {% render_field field class="form-check-input" %}
      {% endif %}
      <label class="form-check-label" for="id_{{ field.name }}">
        {{ field.help_text }} {% if field.field.required %} *{% endif %}
      </label>
      {% if field.errors %}
        <div class="message message--error" role="alert">
        {{ field.errors }}
        </div>
      {% endif %}
  </div>
{% elif field|is_checkbox_select_multiple %}
<fieldset>
  <legend>{{ field.help_text }} {% if field.field.required %} *{% endif %}</legend>
    {% for item in field %}
      <div class="form-check ds-form__overwrite--form-check {% if field.errors %}is-invalid{% endif %}">
          {{ item }}
      </div>
    {% endfor %}
    {% if field.errors %}
      <div class="form-group form-check">
          <div class="message message--error" role="alert">
          {{ field.errors }}
          </div>
      </div>
    {% endif %}
</fieldset>
<hr>
{% elif field|is_captcha %}
<fieldset class="form-group">
    {% block field %}
        <div class="widget widget--{{ field|widget_type }}">
          {% with describedby="hint_"|add:field.id_for_label %}
          {% if field.errors %}
                {% render_field field aria-invalid="true" aria-describedby=describedby %}
          {% else %}
            {% render_field field aria-describedby=describedby %}
          {% endif %}
          {% endwith %}
        </div>
    {% endblock %}
    {% block help_text %}
    {% if field.help_text %}
    <small id="hint_{{ field.id_for_label }}" class="formgroup__help" {% if tabindex is not None %}tabindex="{{ tabindex }}"{% endif %}>
        {{ field.help_text }}
    </small>
    {% endif %}
    {% endblock %}
    {% if field.errors %}
        <div class="message message--error" role="alert">
        {{ field.errors }}
        </div>
    {% endif %}
</fieldset>
{% else %}
  <div class="form-group">
      <label class="form-label" for="id_{{ field.name }}">
        {{ field.help_text }} {% if field.field.required %} *{% endif %}
      </label>
      {% if field.errors %}
          {% render_field field class="form-control is-invalid" %}
          <div class="message message--error" role="alert">
            {{ field.errors }}
          </div>
      {% else %}
          {% render_field field %}
      {% endif %}
  </div>
{% endif %}
