{% load i18n widget_tweaks form_field_tags %}

{% if field|is_checkbox %}
  <div class="form-group">
    <div class="form-check">
      {% if field.errors %}
        {% render_field field class="form-check-input is-invalid" %}
      {% else %}
        {% render_field field class="form-check-input" %}
      {% endif %}
      <label class="form-check-label" for="id_{{ field.name }}">
        {{ field.help_text }} {% if field.field.required %} *{% endif %}
      </label>
      {% if field.errors %}
        <div class="message message--error" role="alert">
        {{ field.errors }}
        </div>
      {% endif %}
    </div>
  </div>
{% elif field|is_checkbox_select_multiple %}
  <div class="form-group">
    <label class="mb-1">{{ field.help_text }} {% if field.field.required %} *{% endif %}</label>
    {% render_field field %}
    {% if field.errors %}
      <div class="message message--error" role="alert">
      {{ field.errors }}
      </div>
    {% endif %}
  </div>
  <hr>
{% else %}
  {% if field.errors %}
    <div class="form-group">
      <label class="mb-1">{{ field.help_text }} {% if field.field.required %} *{% endif %}</label>
      {% render_field field class="form-control is-invalid" %}
      <div class="message message--error" role="alert">
        {{ field.errors }}
      </div>
    </div>
  {% else %}
    <div class="form-group">
      <label class="mb-1">{{ field.help_text }} {% if field.field.required %} *{% endif %}</label>
      {% render_field field %}
    </div>
  {% endif %}
{% endif %}
