{% load wagtailcore_tags %}

<div class="ds-block {% if self.background_color %}ds-block__{{ self.background_color }}{% else %}ds-block__body-bg{% endif %}">
    <div class="container">
        <div clas="row ds-block__row">
            <div class="offset-md-3 col-md-6 text-center">
                <h2 class="cta-ds-block__title">
                    {{ self.title }}
                </h2>
                <div>
                    {{ value.body|richtext }}
                    {% if value.link %}
                    <a href="{{ value.link.url }}" class="btn btn--huge btn-outline-dark">{{ value.link_text }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
