{% load wagtailcore_tags %}

<div class="modul-servicepanel fullwidth ds-block {% if self.background_color %}ds-block--{{ self.background_color }}{% else %}ds-block__body-bg{% endif %}">
    <div class="servicepanel__main text-center">
        <h2 class="title">
            {{ self.title }}
        </h2>
        <div>
            {{ value.body|richtext }}
            {% if value.link %}
            <a href="{{ value.link.url }}" class="button">{{ value.link_text }}</a>
            {% endif %}
        </div>
    </div>
</div>
