{% load wagtailimages_tags wagtailcore_tags block_tags %}

{% get_identifier value as identifier %}


<section class="modul-teaser-marketing fullwidth ds-block--base {% if self.background_color %}ds-block--fullwidth ds-block--{{ self.background_color }}{% endif %}">
    <div class="content-container fullwidth__inner">
        {% if self.faq_title %}
        <h2 class="title">
            {{ self.faq_title }}
        </h2>
        {% endif %}
        <ul aria-label="Faq" class="js-accordion" id="accordion{{ identifier }}">
        {% for item in self.accordion_items %}
            <li>
              <strong class="js-accordion__heading">{{ item.title }}</strong>
              <div class="js-accordion__panel">
                        <div class="text">
                    <div class="textile">
                      <p>{{ item.body }}</p>
                    </div>
                </div>
              </div>
            </li>
        {% endfor %}
    </div>
</section>
