{% load wagtailimages_tags wagtailcore_tags block_tags %}

{% get_identifier value as identifier %}


<section class="modul-servicepanel fullwidth ds-block {% if self.background_color %}ds-block--{{ self.background_color }}{% else %}ds-block--body-bg{% endif %}">
    <div class="servicepanel__main">
        {% if self.faq_title %}
        <h2 class="title">
            {{ self.faq_title }}
        </h2>
        {% endif %}
        {% for item in self.accordion_items %}
        <div class="modul-faq js-accordion" id="accordion_{{ identifier }}{{ forloop.counter }}">
           <h3 class="title js-accordion__heading">
               {{ item.title }}
           </h3>
           <div class="panel js-accordion__panel">
               <div class="text">
                   <div class="textile">
                     <p>{{ item.body }}</p>
                   </div>
               </div>
           </div>
       </div>
        {% endfor %}
    </div>
</section>
