{% load i18n widget_tweaks form_field_tags %}

<link rel="stylesheet" href="https://sibforms.com/forms/end-form/build/sib-styles.css">

<section class="modul-servicepanel fullwidth ds-block {% if self.background_color %}ds-block--{{ self.background_color }}{% else %}ds-block--body-bg{% endif %}">
    <div class="servicepanel__main">
        {% if self.title %}
        <h2 class="title">
            {{ self.title }}
        </h2>
        {% endif %}

        <form name="form1" id="form1" action="/newsletter-signup/" method="POST" >
          <label for="id_email" class="form-label">{{ self.email_field_label }}<span class="icon-required" aria-hidden="true">*</span><span class="aural">({% trans 'required' %})</span></label>
          <input class="form-control" type="text" id="id_email" name="email" required="" aria-required="true">

          <div class="message message--error u-d-none" id="id_email_invalid" role="alert">{% trans 'Please fill in valid email address.' %}</div>
          <div class="message message--success u-d-none" id="id_email_valid" role="alert">{% trans 'Your subscription to our E-Mail Newsletter was successful.' %}</div>

          <div class="form-group form-check">
              <input type="checkbox" name="data_protection" class="form-check-input" required="" id="id_data_protection">
              <label class="form-check-label" for="id_data_protection">{{ self.dsgvo_checkbox_label }}</label>
              <div class="message message--error u-d-none" role="alert" id="id_data_protection_invalid">{% trans 'Please accept the terms of conditions' %}</div>
          </div>

          <div class="ds-form__info-section">
            <p>*{% trans 'required' %}</p>
          </div>

          <div class="form-actions">
              <div class="form-actions__right">
                  <button type="submit" name="submit" value="Submit" class="button" onclick="ValidateForm(document.form1)">{% trans 'Subscribe' %}</button>
              </div>
          </div>
        </form>
    </div>
</section>

<script type="text/javascript">
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var form = document.getElementById('form1'),
    input = document.createElement('input');

input.name = "csrfmiddlewaretoken";
input.type = "hidden";
input.value = getCookie('csrftoken');

form.appendChild(input);
  function ValidateForm()
  {
  var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
  var formInput = document.getElementById('id_email');
  var inputValid = document.getElementById("id_email_valid");
  var inputInvalid = document.getElementById("id_email_invalid");
  var formCheckbox = document.getElementById('id_data_protection');
  var formCheckboxInvalid = document.getElementById("id_data_protection_invalid");

  if(formInput.value.match(mailformat) && formCheckbox.checked)
    {
      formInput.classList.add("u-d-none");
      formCheckbox.classList.add("u-d-none");
      inputValid.classList.remove("u-d-none");
      formCheckboxInvalid.classList.add("u-d-none");
      inputInvalid.classList.add("u-d-none");
      return false;
    }
    else if (formInput.value.match(mailformat))
    {
      formCheckbox.classList.add("is-invalid");
      formCheckboxInvalid.classList.remove("u-d-none");
    }
    else if (formCheckbox.checked)
    {
      formInput.classList.add("is-invalid");
      inputInvalid.classList.remove("u-d-none");
    }
    else
    {
      formInput.classList.add("is-invalid");
      formCheckbox.classList.add("is-invalid");
      formCheckboxInvalid.classList.remove("u-d-none");
      inputInvalid.classList.remove("u-d-none");
    document.form1.input2.focus();
    return false;
    }
  }
</script>
