{% load i18n wagtailcore_tags %}

<div class="modul-servicepanel fullwidth ds-block {% if self.background_color %}ds-block--{{ self.background_color }}{% else %}ds-block--body-bg{% endif %}">
    <div class="servicepanel__main text-center">
        <p class="quote-ds-block__text">
            <i class="fas fa-quote-left fa-xs" aria-hidden="true"></i>
            {{ self.quote }}
            <i class="fas fa-quote-right fa-xs" aria-hidden="true"></i>
        </p>
        <hr class="medium-space">
        <p>
            {{ self.author }}
        </p>
    </div>

</div>
