{% load i18n wagtailcore_tags wagtailimages_tags %}

<section class="modul-multiteaser ds-block--base" id="block-{{ block_id }}-section">
    <h2 class="title">{{ value.title }}</h2>
    <ul class="flexgrid grid--{{self.column_count}}">
      {% for value in self.column %}

       <li>
         <article class="modul-teaser" data-add-clickable-area="smart">
            <div class="image">
                <div class="image__image">
                    {% image value.image fill-800x600 as image %}
                    <img src="{{ image.url }}" alt="{{ image.alt }}">
                </div>
                {% if value.image.caption %}
                <p class="image__caption">
                    {{ value.image.caption }}
                </p>
                {% endif %}
                {% if value.image.copyright %}
                <p class="image__copyright">
                    {{ value.image.copyright }}
                </p>
                {% endif %}
            </div>
            <h3 class="title">{{ value.title }}</h3>
            <div class="inner">
                <p class="text">
                    {{ value.body }}
                    {% if value.button.internal_link %}
                        <a href="{{ value.button.internal_link.url }}" class="more ms-1" data-mainlink="true" title="{{ value.button.link_description }}">
                          {{ value.button.link_text }}
                          {% if value.button.link_description %}
                          <span class="aural">{{ value.button.link_description }}</span>
                          {% endif %}
                        </a>
                    {% elif value.button.external_link %}
                        <a href="{{ value.button.external_link }}" class="extern ms-1" data-mainlink="true" title="{{ value.button.link_description }}" target="_blank">
                          {{ value.button.link_text }}
                          {% if value.button.link_description %}
                          <span class="aural">{{ value.button.link_description }}</span>
                          {% endif %}
                        </a>
                    {% endif %}
                </p>
            </div>
        </article>
      </li>
      {% endfor %}
    </ul>
</section>
