{% load i18n wagtailcore_tags %}

<!-- FIXME 2 column full width element in their styleguide so this is combined with their flex grid-->
<div class="modul-servicepanel fullwidth ds-block {% if self.background_color %}ds-block__{{ self.background_color }}{% else %}ds-block__body-bg{% endif %}">
    <div class="servicepanel__main flexgrid grid--2 text-center">
        <div class="">
            <h2 class="cta-ds-block__title">
                {{ value.link_1.specific.teaser_title }}
            </h2>
            <div class="text-center">
                {{ value.link_1.specific.teaser_intro }}
                <div class="pt-5">
                    <a href="{{ value.link_1.url }}" class="btn btn--huge btn-outline-dark">{{ value.link_1_text }}</a>
                </div>
            </div>
        </div>
        <div class="col">
            <h2 class="cta-ds-block__title">
                {{ value.link_2.specific.teaser_title }}
            </h2>
            <div class="text-center">
                {{ value.link_2.specific.teaser_intro }}
                <div class="pt-5">
                    <a href="{{ value.link_2.url }}" class="btn btn--huge btn-outline-dark">{{ value.link_2_text }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
