{% load i18n wagtailcore_tags wagtailimages_tags %}

{% image value.link.specific.teaser_image width-800 as teaser_image %}

<div class="{% if self.background_color %}ds-block__{{ self.background_color }}{% else %}ds-block__body-bg{% endif %}">
    <div class="teaser-ds-block-img__{% if self.image_alignment == 'left' %}left{% else %}right{% endif %}"
         style="background-image: url({{ teaser_image.url }})">
        <img src="{{ teaser_image.url }}"/>
        {% if value.link.specific.teaser_image.caption %}
            <div class="text-end">{{ value.link.specific.teaser_image.caption }}</div>
        {% endif %}
    </div>
    <div class="container ds-block">
        <div class="col-md-5 {% if self.image_alignment == 'left' %}offset-md-7 {% endif %}text-center">
            <h2 class="cta-ds-block__title">
                {{ value.link.specific.teaser_title }}
            </h2>
            {{ value.link.specific.teaser_intro }}
            <div class="pt-5">
                <a href="{{ value.link.url }}" class="btn btn--huge btn-outline-dark">{{ value.link_text }}</a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
