{% load wagtailcore_tags i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!-- colours are needed for text colour styling -->
<article class="modul-teaser-marketing boxed fullwidth ds-block--base
  {% if self.background_color %} ds-block--{{ self.background_color }}{% endif %}"
>
    <div class="background-image {% if self.background_color %}ds-block--{{ self.background_color }}{% else %}pink{% endif %}" aria-hidden="true">
    </div>
    <div class="content-container fullwidth__inner">
        <h2 class="title">{{ value.title }}</h2>
        <p class="text">
          {{ value.body }}
        </p>
        <div class="controls">
            <a href="{{ value.link.url }}" class="button ds-block__button-clear">
                {{ value.link_text }}
                {% if value.link_description %}
                <span class="aural">{{ value.link_description }}</span>
                {% endif %}
            </a>
        </div>
    </div>
</article>
