{% load i18n wagtailcore_tags wagtailimages_tags %}

<section class="modul-teasertiles">
    <h2>{{ value.title }}</h2>
    <ul class="flexgrid grid--4">
      {% for value in self.tile %}
        <li>
            <div class="teasertile ds-teasertile" data-add-clickable-area="full">
                <div class="action ds-action">
                    <a class="more" href="{{ value.link.url }}"></a>
                </div>
                <div class="ds-teasertile__info">
                    <div class="ds-teasertile__info-img">
                        {% image value.icon fill-50x50 as image %}
                        <img src="{{ image.url }}" alt="{{ image.alt }}">
                    </div>
                    <div class="ds-teasertile__info-title">
                        <h3 class="title">{{ value.title }}</h3>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</section>
