{% load i18n wagtailcore_tags wagtailimages_tags %}

<section class="modul-icontiles">
    <h2 class="title">{{ value.title }}</h2>
    <div class=icontiles__inner>
        <ul>
          {% for value in self.tile %}
            <li>
                <div class="icontile" data-add-clickable-area="full">
                    <div class="decoration">
                        {% image value.icon max-200x200 as image %}
                        <img src="{{ image.url }}" alt="{{ image.alt }}">
                    </div>
                    <div class="inner">
                        <a
                            class="title"
                            data-mainlink="true"
                            href="{{ value.link.url }}"
                            title="{{value.title}}"
                        >
                            {{ value.title }}
                            {% if value.link_description %}
                                <span class="aural">
                                    {{ value.link_description }}
                                </span>
                            {% endif %}
                        </a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
