{% load wagtailcore_tags i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!-- colours are needed for text colour styling and imageteaser for nested btn styling -->
<article class="modul-teaser-marketing boxed fullwidth ds-block
  {% if self.background_color == 'green' %} imageteaser ds-block--{{ self.background_color }}
  {% elif self.background_color %}ds-block--{{ self.background_color }}
  {% else %}ds-block__body-bg{% endif %}"
>
    <div class="background-image {% if self.background_color %}ds-block--{{ self.background_color }}{% else %}ds-block__body-bg{% endif %}" aria-hidden="true">
    </div>
    <div class="content-container fullwidth__inner">
        <h3 class="title">{{ value.link.specific.teaser_title }}</h3>
        <p class="text">
          {{ value.link.specific.teaser_intro }}
        </p>
        <div class="controls">
            <a href="{{ value.link.url }}" class="button">
              {% if LANGUAGE_CODE == 'en' and value.link_text_en %}
                {{ value.link_text_en }}
              {% elif LANGUAGE_CODE == 'de_ls' and value.link_text_de_ls %}
                {{ value.link_text_de_ls }}
              {% else %}
                {{ value.link_text_de }}
              {% endif %}
            </a>
        </div>
    </div>
</article>
