{% load i18n wagtailcore_tags wagtailimages_tags %}
{% image value.image fill-800x600 as image %}

<article class="modul-teaser ds-block--base" data-add-clickable-area="smart">
    <div class="image">
        <div class="image__image">
            {% image value.image fill-800x600 as image %}
            <img src="{{ image.url }}" alt="{{ image.alt }}">
        </div>
        {% if value.image.caption %}
        <p class="image__caption">
          {{ image.image.caption}}
        </p>
        {% endif %}
        {% if value.image.copyright %}
        <p class="image__copyright">
            {{ value.image.copyright }}
        </p>
        {% endif %}
    </div>
    <h2 class="title">{{ value.title }}</h2>

    <div class="inner">
        <p class="text">
          {{ value.body }}

            {% if value.link.internal_link %}
                <a href="{{ value.link.internal_link.url }}" class="more ms-1" data-mainlink="true" title="{{ value.link.link_description }}">
                  {{ value.link.link_text }}
                  {% if value.link.link_description %}
                  <span class="aural">{{ value.link.link_description }}</span>
                  {% endif %}
                </a>
            {% elif value.link.external_link %}
                <a href="{{ value.link.external_link }}" class="extern ms-1" data-mainlink="true" title="{{ value.link.link_description }}" target="_blank">
                  {{ value.link.link_text }}
                  {% if value.link.link_description %}
                  <span class="aural">{{ value.link.link_description }}</span>
                  {% endif %}
                </a>
            {% endif %}
        </p>
    </div>
</article>
