{% load wagtailcore_tags %}

<article class="modul-teaser-marketing boxed fullwidth ds-block {% if self.background_color %}ds-block--{{ self.background_color }}{% else %}ds-block__body-bg{% endif %}">
    <div class="background-image {% if self.background_color %}ds-block--{{ self.background_color }}{% else %}ds-block__body-bg{% endif %}" aria-hidden="true">
    </div>
    <div class="content-container fullwidth__inner">
        <h3 class="title">{{ value.link.specific.teaser_title }}</h3>
        <p class="text">
          {{ value.link.specific.teaser_intro }}
        </p>
        <div class="controls">
            <a href="{{ value.link.url }}" class="button">{{ value.link_text }}</a>
        </div>
    </div>
</article>
