{% load i18n wagtailcore_tags %}
{% get_current_language as LANGUAGE_CODE %}

<!-- FIXME 2 column full width element in their styleguide so this is combined with their flex grid-->
<section class="modul-servicepanel fullwidth ds-block {% if self.background_color %}ds-block--{{ self.background_color }}{% else %}ds-block--body-bg{% endif %}">
    <div class="servicepanel__main flexgrid grid--2 text-center">
        <div class="">
            <h2>
                {{ value.title_1 }}
            </h2>
            <div class="text-center">
                {{ value.body_1 }}
                <div class="pt-5">
                    <a href="{{ value.link_1.url }}" class="btn btn--huge btn-outline-dark">
                        {{ value.link_text_1 }}
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <h2>
                {{ value.title_2 }}
            </h2>
            <div class="text-center">
                {{ value.body_2 }}
                <div class="pt-5">
                    <a href="{{ value.link_2.url }}" class="btn btn--huge btn-outline-dark">
                        {{ value.link_text_2 }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
