{% load i18n wagtailcore_tags wagtailimages_tags %}

<section class="modul-multiteaser ds-block--img">

    <ul class="flexgrid grid--{{self.column_count}}">
      {% for value in self.column %}

       <li>
         <article class="modul-teaser" data-add-clickable-area="smart">
            <div class="image">
                <div class="image__image">
                    {% image value.image fill-800x600 as image %}
                    <img src="{{ image.url }}" alt="{{ image.alt }}">
                </div>
                <div class="image__copyright">

                  {% if value.image.caption %}
                    <figcaption>{{ value.image.caption }}</figcaption>
                  {% endif %}

                  {% if value.image.copyright %}
                    {{ value.image.copyright }}
                  {% endif %}
                </div>

            </div>
            <h3 class="title">{{ value.title }}</h3>

            <div class="inner">
                <p class="text">
                    {{ value.body }}
                    {% if value.button.internal_link %}
                        <a href="{{ value.internal_link.url }}" class="more ms-1" data-mainlink="true" title="">{{ value.button.link_text }}</a>
                    {% endif %}
                    {% if value.button.external_link %}
                        <a href="{{ value.external_link.url }}" class="extern ms-1" data-mainlink="true" title="">{{ value.button.link_text }}</a>
                    {% endif %}
                </p>
            </div>
        </article>
      </li>
      {% endfor %}
    </ul>
</section>
