{% load i18n wagtailcore_tags wagtailimages_tags %}
{% image value.image fill-800x600 as image %}

<section class="modul-text_bild ds-block--base ds-block--fullwidth imagealign{% if self.image_alignment == 'left' %}left{% else %}right{% endif %} fifty">
    <div class="image">
        <div class="image__image">
            <img src="{{ image.url }}" alt="{{ image.alt }}">
        </div>
        {% if value.image.caption %}
        <p class="image__caption">
          {{ image.image.caption}}
        </p>
        {% endif %}
        {% if value.image.copyright %}
        <p class="image__copyright">
            {{ image.image.copyright}}
        </p>
        {% endif %}
    </div>
    <h2 class="title">{{ value.title }}</h2>

    <div class="text textile">
        {{ value.body|richtext }}
    </div>
</section>
