{% load block_tags i18n wagtailcore_tags %}

<div class="modul-servicepanel fullwidth ds-block {% if self.background_color %}ds-block__{{ self.background_color }}{% else %}ds-block__body-bg{% endif %}">
    <div class="servicepanel__main">
        <div class="ds-block__maincontent--small">
            <h2 class="thesis-ds-block__title text-center">{{ value.title }}</h2>
            <div class="modul-buehne">
                <div class="swiper-container">
                    <div class="swiper-controls ds-block__swiper-controls">
                        <div class="swiper-button-prev" title={% trans 'Previous slide' %}></div>
                        <div class="swiper-button-next" title={% trans 'Next slide' %}></div>
                        <div class="swiper-pagination ds-block__swiper-pagination" aria-hidden="true"></div>
                    </div>
                    <ul class="swiper-wrapper">
                        {% for thesis in value.theses %}
                        {% include_block thesis %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
