{% load block_tags i18n wagtailcore_tags %}

<section class="modul-teaser-marketing fullwidth ds-block--base {% if self.background_color %}ds-block--fullwidth ds-block--{{ self.background_color }}{% endif %}" id="block-{{ block_id }}-section">
    <div class="content-container fullwidth__inner">
        <div class="ds-block__maincontent--small">
            <h2 class="title thesis-ds-block__title">{{ value.title }}</h2>
            <div class="modul-buehne ds-block__swiper">
                <div class="swiper-container swiper">
                    <div class="swiper-controls ds-block__swiper-controls">
                        <div class="swiper-button-prev" title={% trans 'Previous slide' %}></div>
                        <div class="swiper-button-next" title={% trans 'Next slide' %}></div>
                        <div class="swiper-pagination ds-block__swiper-pagination" aria-hidden="true"></div>
                    </div>
                    <ul class="swiper-wrapper">
                        {% for thesis in value.theses %}
                        {% include_block thesis %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
